---

name: build

'on':
  push:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string


jobs:

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [17, 21, 23, 25]
      fail-fast: false

    permissions:
      checks: write
      contents: write

    steps:

      - uses: actions/checkout@v6.0.2
        with:
          ref: ${{ inputs.ref || github.ref }}

      - uses: actions/setup-java@v5.2.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - uses: gradle/actions/wrapper-validation@v5.0.0

      - name: Set up Elasticsearch container
        run: docker compose up -d es
        env:
          ES_PORT: 9200

      - name: Prepare submitting Gradle dependency graph
        if: matrix.java-version == 17
        uses: gradle/actions/setup-gradle@v5.0.0
        with:
          dependency-graph: generate-and-submit

      - name: Build project
        run: ./gradlew compileTestJava

      - name: Wait for ES to respond
        run: >
          bash .github/scripts/wait_for_response.sh
          http://localhost:9200 30

      - name: Run tests
        run: ./gradlew test

      - name: Process junit reports
        uses: mikepenz/action-junit-report@v6.2.0
        if: always()
        with:
          report_paths: 'build/test-results/test/TEST-*.xml'

...
